{{#partial "content"}}

    <h1>Address Book</h1>

    {{#if entries}}
        {{#each entries}}
            <h5>Name:</h5>
            <p>{{firstName}} {{lastName}}</p>
            <p><a href="/addressBook/{{id}}">More details...</a></p>
        {{/each}}
    {{else}}
        <p>This address book is empty because you have no friends and you are a loser</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}